.questions{
    border: 5px solid black;
    
}
.option-color{
    color: red;
    display: grid;
    
}
.green{
    color: darkred;
}
.red{
    color: orange;
}
.border{
    background-color: gray;
    padding: 10px;
}